Django==1.4
MySQL-python
PIL
South
django-admin-tools
django-batch-select
django-debug-toolbar
django-mptt
django-pagination
django-social-auth
html5lib
httplib2
oauth
oauth2
psycopg2
pyPdf
pymorphy
pytils
reportlab
sorl-thumbnail
urllib2-file
xhtml2pdf
