{% extends 'base.html' %}

{% block main %}
<!--MAIN-->
	<div class="main">
		<div class="content">
			<div class="content_l col">
				<h1>Как использовать самому</h1>
				
				<div class="text page_lead">
					<p>Наш эксперсс-тест легок в применение и в течении 5 минут сообщает результат. Экономит ваше время и деньги, исключает необходимость стоять в очередях и тратить средства на покупку дорогостоящих лекарств.</p>
				</div>
				
				<div class="steps">
					<div class="side">
						<div class="arrpl arrpl_2">
							<h2 class="side_h">Инструкция по&nbsp;применению</h2>
						</div>
					</div>
					
					<div class="step">
						<div class="step_img"><img src="/media/img/step_1.png" alt="" /></div>
						<div class="step_num">1</div>
						<div class="step_name">4 капли из красного флакона</div>
					</div>
					
					<div class="step">
						<div class="step_img"><img src="/media/img/step_2.png" alt="" /></div>
						<div class="step_num">2</div>
						<div class="step_name">4 капли из жёлтого флакона</div>
					</div>
					
					<div class="step">
						<div class="step_img"><img src="/media/img/step_3.png" alt="" /></div>
						<div class="step_num">3</div>
						<div class="step_name">Взять пробу слюны</div>
					</div>
					
					<div class="step">
						<div class="step_img"><img src="/media/img/step_4.png" alt="" /></div>
						<div class="step_num">4</div>
						<div class="step_name">Оставить ватную палочку в пробирке на 1 минуту</div>
					</div>
					
					<div class="step">
						<div class="step_img"><img src="/media/img/step_5.png" alt="" /></div>
						<div class="step_num">5</div>
						<div class="step_name">Отжать ватную палочку в раствор</div>
					</div>
					
					<div class="step">
						<div class="step_img"><img src="/media/img/step_6.png" alt="" /></div>
						<div class="step_num">6</div>
						<div class="step_name">Опустить тест-полоску в раствор стрелками вниз на 5 минут</div>
					</div>
				</div><!--/steps-->
			</div><!--/content_l-->
			
			<div class="content_r col">
				<div class="box_carousel_zs_menu"><a href="#" class="curr">5</a> или <a href="#">20</a> тестов</div>

				<div class="box_carousel_zs">
					<ul>
						<li>
							<img class="box_carousel_zs_img" src="/media/img/box_slide_zs.png" alt="" />
							<div class="box_carousel_zs_name">Диагностическая система</div>
							<div class="box_carousel_zs_des">5 одноразовых тестов</div>
						</li>
					</ul>
					<a href="#" class="carousel_zs_l carousel_zs_l_disabled"></a>
					<a href="#" class="carousel_zs_r"></a>
					
					<div class="btn_zs"><div class="btn_zs_in"><a href="#">Купить</a></div></div>
				</div><!--/box_carousel_zs-->
				
				<div class="res_lnk"><a href="#"><span>Как правильно считывать результат</span></a></div>
			</div><!--/content_r-->
				
			<div class="content_l col">
				<div class="video_study">
					<div class="side">
						<div class="arrpl arrpl_2">
							<h2 class="side_h">Обучающее видео</h2>
						</div>
					</div>
					
					<div class="video">
						<iframe width="561" height="342" src="http://www.youtube.com/embed/fJ9rUzIMcZQ" frameborder="0" allowfullscreen></iframe>
					</div>
				</div><!--/video_study-->
				
				<div class="cases">
					<div class="side">
						<div class="arrpl arrpl_2">
							<h2 class="side_h">Случаи из&nbsp;жизни</h2>
						</div>
					</div>
					
					<div class="case">
						<div class="case_img"><img src="/media/img/case_1.png" alt="" /></div>
						<h3 class="case_h">Дома</h3>
						<div class="case_des">Важно быть увереным в правильности лечения</div>
					</div>
					
					<div class="case">
						<div class="case_img"><img src="/media/img/case_2.png" alt="" /></div>
						<h3 class="case_h">В отпуске</h3>
						<div class="case_des">Болезнь не должна испортить отдых</div>
					</div>
					
					<div class="case">
						<div class="case_img"><img src="/media/img/case_3.png" alt="" /></div>
						<h3 class="case_h">Важная ситуация</h3>
						<div class="case_des">Когда нет времени и каждый час на счету</div>
					</div>
				</div><!--/cases-->
			</div><!--/content_l-->
			
			<div class="content_r col">
				<div class="video_note">Удобен и может быть использован человеком без медицинского образования в домашних условиях</div>
			</div><!--/content_r-->
		</div><!--/content-->
		
	</div>
    <!--/MAIN-->
{% endblock %}