{% extends 'base.html' %}

{% block main %}
	<!--MAIN-->
	<div class="main">
		<div class="content">
			<div class="content_l col">
				<div class="bread"><a href="{% url article_list_url %}">Статьи пациентам</a> / </div>
				<h1>{{ article.title }}</h1>
				<div class="text text_page">
					{{ article.text }}
				</div><!--/text_page-->
				
			</div><!--/content_l-->
			
			<div class="content_r col">
				{% include 'shared/buy_box_aside.html' %}
			</div><!--/content_r-->
		</div><!--/content-->
		
	</div>
    <!--/MAIN-->
{% endblock %}
{% block modals%}
	<div class="patients_question_form_modal"></div>
{% endblock %}