{% extends 'base.html' %}
{% load custom_filters %}

{% block main %}
<!--MAIN-->
	<div class="main">
		<div class="content">
			<div class="content_l col">
				<h1>Статьи пациентам</h1>
								
				<div class="press">
					{% for article in article_list %}
					<div class="new">
						<a href="{% url article_url article.id %}">
							<h2>{{ article.title }}</h2>
						</a>
						<div class="text new_short">
							<p>{{ article.text }}</p>
						</div>
					</div>
					{% endfor %}
								
					{% if is_paginated and page_obj.paginator.num_pages > 1 %}
					<div class="pgn">
						{% for i in page_obj.paginator.num_pages|times %}
							{% if forloop.counter == page_obj.number %}
								<a class="pgn_num curr" href="{% url article_list_url %}?page={{ forloop.counter }}">{{ forloop.counter }}</a>
							{% else %}
								<a class="pgn_num" href="{% url article_list_url %}?page={{ forloop.counter }}">{{ forloop.counter }}</a>
							{% endif %}
						{% endfor %}
					</div>
					{% endif %}

				</div><!--/press-->
			</div><!--/content_l-->
			
			<div class="content_r col">
				{% include 'shared/buy_box_aside.html' %}
			</div>
		</div><!--/content-->
		
	</div>
    <!--/MAIN-->
{% endblock %}
{% block modals%}
	<div class="patients_question_form_modal"></div>
{% endblock %}