{% extends 'base.html' %}

{% block main %}
<!--MAIN-->
	<div class="main">
		<div class="content">
			<div class="side side_pl" style="margin-top: 440px;">
				<p>Бесплатная консультация нашего специалиста</p>
				<div class="btn_blue"><div class="btn_blue_in"><a href="#">Задать вопрос</a></div></div>
			</div>
			<div class="content_l col">
				<h1>Статьи пациентам</h1>
								
				<div class="press">
					{% for article in article_list %}
					<div class="new">
						<a href="{% url article_url article.id %}">
							<h2>{{ article.title }}</h2>
						</a>
						<div class="text new_short">
							<p>{{ article.text }}</p>
						</div>
					</div>
					{% endfor %}
								
					<div class="pgn">
						<a class="pgn_num curr" href="#">1</a>
						<a class="pgn_num" href="#">2</a>
						<a class="pgn_num" href="#">3</a>
						<a class="pgn_num" href="#">4</a>
					</div>

				</div><!--/press-->
			</div><!--/content_l-->
			
			<div class="content_r col">
				{% include 'shared/buy_box_aside.html' %}
			</div>
		</div><!--/content-->
		
	</div>
    <!--/MAIN-->
{% endblock %}