{% extends 'base.html' %}

{% block main %}
    <!--MAIN-->
    <div class="main">
        <div class="content">
            <div class="content_l col">
                <div class="bread"><a href="{% url publication_list_url %}">Научные публикации</a> / </div>
                <h1>{{ publication.title }}</h1>
                <a href="{{ publication.link }}"><h2>{{ publication.where_published }}</h2></a>
                <div class="text text_page">
                    {{ publication.text }}
                </div><!--/text_page-->
                
            </div><!--/content_l-->
            
            <div class="content_r col">
                {% include 'shared/buy_box_aside.html' %}
            </div><!--/content_r-->
        </div><!--/content-->
        
    </div>
    <!--/MAIN-->
{% endblock %}
{% block modals%}
    <div class="patients_question_form_modal"></div>
{% endblock %}