{% for city in city_list %}
    {% if forloop.first %}
    <div id="contacts_map_{{city.id}}" style="width: 100%; height: 100%;"></div>
    {% else %}
    <div id="contacts_map_{{city.id}}" style="width: 100%; height: 100%; display:none;"></div>
    {% endif %}
{% endfor %}
<script>
var ContactsMap = function(){
    {% for city in city_list %}
    var contactsMap_{{city.id}};
    {% if forloop.first %}
    var currentMap;
    {% endif %}
    function initHeaderMap_{{city.id}}(){     
        contactsMap_{{city.id}} = new ymaps.Map ("contacts_map_{{city.id}}", {
            center: [{{city.coordinates_center}}],
            zoom: {{city.zoom}},
        });
        contactsMap_{{city.id}}.controls.add(
           new ymaps.control.ZoomControl()
        );
        currentMap = contactsMap_{{city.id}};
        {% for branch in city.branch_set.all %}
            var myPlacemark_{{branch.id}} = new ymaps.Placemark(
                [{{branch.coordinates}}],
                {
                    content: '{{branch.id}}',
                    balloonContent: '<p>{{branch.title}}</p><p>{{branch.address}}</p>'
                });
            contactsMap_{{city.id}}.geoObjects.add(myPlacemark_{{branch.id}});
        {% endfor %}
    }
    {% if forloop.first %}
    var currentCity;
    $('.contacts-fancybox').fancybox({
        padding: 0,
        type: 'inline',
        tpl : {
            closeBtn : '<div class="blob_modal_close"></div>'
        },
        beforeShow: function(){
            ymaps.ready(initHeaderMap_{{city.id}});
            currentCity = {{city.id}};
        },
        beforeClose: function(){
            currentMap.destroy();
        }
    });
    {% endif %}
{% endfor %}
{% for city in city_list %}
    $('#contacts_map_link_{{city.id}}').on('click', function(){
        $('.branches_'+currentCity).hide();
        $('#contacts_map_'+currentCity).hide();
        alert('asd');
        currentMap.destroy();
        $('#contacts_map_link_'+currentCity).parent('li').removeClass('curr');
        $('#contacts_map_{{city.id}}').show();
        $('.branches_{{city.id}}').show();
        $('#contacts_map_link_{{city.id}}').parent('li').addClass('curr');
        ymaps.ready(initHeaderMap_{{city.id}});
        currentCity = {{city.id}};
    });
{% endfor %}
};
ContactsMap();
</script>