<div class="friends_modal">
    <div class="modal modal_blob">
        <div class="modal_header">
            <h2>Посоветовать друзьям</h2>
        </div><!--/modal_header-->

        <!-- Put this div tag to the place, where the Like block will be -->
        <div id="vk_like"></div>
        <script type="text/javascript">
        VK.Widgets.Like("vk_like", {type: "full"});
        </script>

        <div class="blob_modal_close close_friends"></div>
    </div>
</div><!--/modal-->

<div class="subscribe_modal">
</div><!--/modal-->