{% load siteblocks_extras %}
<!--FOOTER-->
<div class="footer_out">
<div class="footer">
    <div id="copyright" class="col">
        <p>© 2010–2012</p>
        <p>ООО «Стриптатест»</p>
    </div>
    
    <div class="footer_menu col">
        {% footer_menu request.path %}
        <p>Сайт разработан в студии <a href="http://octoberweb.ru/" title="Разработка сайта — студия OctoberWeb">«<u>OctoberWeb</u>»</a></p>
    </div><!--/footer_menu-->
    
    <div class="footer_soc">вставить код яндекса</div>
</div>
</div>
<!--/FOOTER-->