{% load siteblocks_extras %}
<!--HEADER-->
<div class="header">
    <a id="logo_box" href="/" title="Стрептатест"><img id="logo" src="/media/img/logo.png" alt="Стрептатест" width="581" height="69" /></a>
    
    <p class="header_info">Умный экспресс-тест для защиты здоровья всей семьи</p>
    
    <div class="header_contacts">
        <p>Горячая линия</p>
        {% if contacts %}
        <div class="tel"><span>+7</span> {{ contacts }}</div>
        {% endif %}
        <p><a href="#contact_map_modal" class="header_contacts_lnk contacts-fancybox">Как нас найти</a></p>
    </div><!--/header_contacts-->
    <div class="header_menu">
        {% header_menu request.path %}
    </div><!--/menu-->
</div>
<!--/HEADER-->

<div class="contact_map_modal" id="contact_map_modal">
<div class="modal_blob">
    <div class="h_line">
        <h2>Как нас найти</h2>
        <div class="hormenu col">
            <ul>
                {% for city in city_list %}
                    {% if forloop.first %}
                    <li class="curr">
                    <a id="contacts_map_link_{{city.id}}" class="cont_link">{{city.title}}</a>
                    <img src="/media/img/hormenu_arr.png"/>           
                    {% else %}
                    <li>
                    <a id="contacts_map_link_{{city.id}}" class="cont_link" href="#">{{city.title}}</a>
                    <img src="/media/img/hormenu_arr.png"/>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div><!--/hormenu-->
    </div><!--/modal_header-->

    <div class="col">
        <div class="map" style="width: 800px; height: 600px;">
            {% for city in city_list %}
                {% if forloop.first %}
                <div id="contacts_map_{{city.id}}" class="cont_map" style="width: 100%; height: 100%;"></div>
                {% else %}
                <div id="contacts_map_{{city.id}}" class="cont_map" style="width: 100%; height: 100%; display:none;"></div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="col contacts_branches">
    {% for city in city_list %}
        {% if forloop.first %}
        <div class="cont_branch branches_{{city.id}}">
        {% else %}
        <div class="cont_branch branches_{{city.id}}" style="display:none;">
        {% endif %}
            {% for branch in city.branch_set.all %}
            <div class="branch">
                <p>{{ branch.city }}</p>
                <p>{{ branch.address }}</p>
                <p><span class="phone">{{ branch.phone }}</span></p>
            </div>
            {% endfor %}
        </div>
    {% endfor %}
    </div>
    <div class="modal_shade"></div>
</div>
</div>
<script>
var ContactsMap = function(){
    {% for city in city_list %}
    var contactsMap_{{city.id}};
    {% if forloop.first %}
    var currentContactsMap;
    {% endif %}
    function initHeaderMap_{{city.id}}(){     
        contactsMap_{{city.id}} = new ymaps.Map ("contacts_map_{{city.id}}", {
            center: [{{city.coordinates_center}}],
            zoom: {{city.zoom}},
        });
        contactsMap_{{city.id}}.controls.add(
           new ymaps.control.ZoomControl()
        );
        currentContactsMap = contactsMap_{{city.id}};
        {% for branch in city.branch_set.all %}
            var myPlacemark_{{branch.id}} = new ymaps.Placemark(
                [{{branch.coordinates}}],
                {
                    content: '{{branch.id}}',
                    balloonContent: '<p>{{branch.title}}</p><p>{{branch.address}}</p>'
                });
            contactsMap_{{city.id}}.geoObjects.add(myPlacemark_{{branch.id}});
        {% endfor %}
    }
    {% if forloop.first %}
    var currentContactsCity;
    $('.contacts-fancybox').fancybox({
        padding: 0,
        type: 'inline',
        tpl : {
            closeBtn : '<div class="blob_modal_close"></div>'
        },
        beforeShow: function(){
            ymaps.ready(initHeaderMap_{{city.id}});
            currentContactsCity = {{city.id}};
        },
        beforeClose: function(){
            currentContactsMap.destroy();
            $('.cont_branch').hide();
            $('.cont_map').hide();
            $('.cont_link').parent('li').removeClass('curr');
            $('#contacts_map_{{city.id}}').show();
            $('.branches_{{city.id}}').show();
            $('#contacts_map_{{city.id}}').show();
            $('.branches_{{city.id}}').show();
            $('#contacts_map_link_{{city.id}}').parent('li').addClass('curr');
        }
    });
    {% endif %}
{% endfor %}
{% for city in city_list %}
    $('#contacts_map_link_{{city.id}}').on('click', function(){
        $('.branches_'+currentContactsCity).hide();
        $('#contacts_map_'+currentContactsCity).hide();
        currentContactsMap.destroy();
        $('#contacts_map_link_'+currentContactsCity).parent('li').removeClass('curr');
        $('#contacts_map_{{city.id}}').show();
        $('.branches_{{city.id}}').show();
        $('#contacts_map_link_{{city.id}}').parent('li').addClass('curr');
        ymaps.ready(initHeaderMap_{{city.id}});
        currentContactsCity = {{city.id}};
    });
{% endfor %}
};
ContactsMap();
</script>