{% load siteblocks_extras %}
<!--HEADER-->
<div class="header">
    <a id="logo_box" href="/" title="Стрептатест"><img id="logo" src="/media/img/logo.png" alt="Стрептатест" width="581" height="69" /></a>
    
    <p class="header_info">Умный экспресс-тест для защиты здоровья всей семьи</p>
    
    <div class="header_contacts">
        <p>Горячая линия</p>
        {% if contacts %}
        <div class="tel"><span>+7</span> {{ contacts }}</div>
        {% endif %}
        <p><a href="javascript:void(0)" class="header_contacts_lnk">Как нас найти</a></p>
    </div><!--/header_contacts-->
    <div class="header_menu">
        {% header_menu request.path %}
    </div><!--/menu-->
</div>
<!--/HEADER-->

<div class="contact_map_modal">
<div class="modal_blob">
    <div class="h_line">
        <h2>Как нас найти</h2>
        <div class="hormenu col">
            <ul>
                {% for city in city_list %}
                    {% if forloop.first %}
                    <li class="curr">
                    <a id="contacts_map_link_{{city.id}}">{{city.title}}</a>
                    <img src="/media/img/hormenu_arr.png"/>           
                    {% else %}
                    <li>
                    <a id="contacts_map_link_{{city.id}}" href="javascript:void(0)">{{city.title}}</a>
                    <img src="/media/img/hormenu_arr.png"/>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div><!--/hormenu-->
    </div><!--/modal_header-->

    <div class="col">
        <div class="map" style="width: 800px; height: 600px;">
            {% include '_contacts_map.html' %}
        </div>
    </div>

    <div class="col contacts_branches">
    {% for city in city_list %}
        {% if forloop.first %}
        <div class="branches_{{city.id}}">
        {% else %}
        <div class="branches_{{city.id}}" style="display:none;">
        {% endif %}
            {% for branch in city.branch_set.all %}
            <div class="branch">
                <p>{{ branch.city }}</p>
                <p>{{ branch.address }}</p>
                <p><span class="phone">{{ branch.phone }}</span></p>
            </div>
            {% endfor %}
        </div>
    {% endfor %}
    </div>
    <div class="blob_modal_close close_contacts"></div>
    <div class="modal_shade"></div>
</div>
</div>