{% load siteblocks_extras %}
<!--HEADER-->
<div class="header">
    <a id="logo_box" href="/" title="Стрептатест"><img id="logo" src="/media/img/logo.png" alt="Стрептатест" width="581" height="69" /></a>
    
    <p class="header_info">Умный экспресс-тест для защиты здоровья всей семьи</p>
    
    <div class="header_contacts">
        <p>Горячая линия</p>
        {% if contacts %}
        <div class="tel"><span>+7</span> {{ contacts }}</div>
        {% endif %}
        <p><a href="javascript:void(0)" class="header_contacts_lnk">Как нас найти</a></p>
    </div><!--/header_contacts-->
    <div class="header_menu">
        {% header_menu request.path %}
    </div><!--/menu-->
</div>
<!--/HEADER-->

<div class="contact_map_modal">
<div class="modal_blob">
    <div class="modal_header">
        <h2>Как нас найти</h2>
    </div><!--/modal_header-->

    <div class="col">
        <div class="map" style="width: 700px; height: 400px;">
            {% include '_contacts_map.html' %}
        </div>
    </div>
    <div class="col contacts_branches">
        {% for branch in city.branch_set.all %}
            {{ branch.title }}
        {% endfor %}
    </div>
    {% endfor %}
    <div class="blob_modal_close close_contacts"></div>
    <div class="modal_shade"></div>
</div>
</div>