{% load siteblocks_extras %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="/media/css/style.css" rel="stylesheet" type="text/css" />
    <!--[if lte IE 8]><link rel="stylesheet" type="text/css" media="screen" href="/media/css/ie.css" /><![endif]-->
    <script type="text/javascript" src="/media/js/jquery.js"></script>
    <script type="text/javascript" src="/media/js/jquery.bxslider.js"></script>
    <script type="text/javascript" src="/media/js/script.js"></script>
    <title>
        {% block title %}{% endblock %}
        {{ site_name }}
    </title>
    {% block head %}{% endblock %}
</head>

<body>
<div class="wrapper bg_i">
<div class="page">
{% include '_header.html' %}
{% block main %}{% endblock %}
</div>
</div>
{% include '_footer.html' %}
</body>
</html>