{% extends "base.html" %}

{% block wrapper_class %}bg_i{% endblock %}
{% block main %}
<!--MAIN-->
    <div class="main">
        <div class="index_top">
            <div class="index_box col">
                <div class="index_box_img index_box_img_1"></div>
                <div class="index_box_des">
                    <h1 class="index_box_des_h">Персональная экспресс-лаборатория в коробке</h1>
                    <div class="index_box_des_img"><img src="media/img/box_zs.png" alt="Стептатест" /></div>
                    <p>{{ header_center_text }}</p>
                </div>
                <div class="cl"></div>
            </div><!--/index_box-->
            
            <div class="index_percents col">
                <div class="index_percent">
                    {{ header_right_text_1|safe }}
                </div>
                <div class="index_percent">
                    {{ header_right_text_2|safe }}
                </div>
                <div class="btn_zl"><div class="btn_zl_in"><a href="{% url order_url %}">Купить</a></div></div>
            </div>
        </div><!--/index_top-->
        
        {% if index_capability_list %}
        <div class="content">
            <div class="index_whys">
                <div class="side">
                    <div class="arrpl">
                        <h2 class="side_h">Почему используют Стрептатест</h2>
                        <div class="arrpl_lnk"><a href="{% url capabilities_url %}">Все возможности</a></div>
                    </div>
                </div>
                
                {% for capability in index_capability_list %}
                <div class="index_why col">
                    <div class="index_why_img"><img src="media/img/{{ capability.image }}" alt="" /></div>
                    <h3 class="index_why_h">{{ capability.title|safe }}</h3>
                    <div class="index_why_des">{{ capability.body|safe }}</div>
                </div>
                {% endfor %}
                
            </div><!--/index_why-->
        </div><!--/content-->
        {% endif %}
          
        {% if doctors_last_review_list or patients_last_review_list %}  
        <div class="content">
            <div class="index_reviews">
                <div class="side">
                    <h2 class="side_h">О Стрептатест говорят:</h2>
                    <div class="sidemenu">
                        <ul>
                            <li class="curr">
                                <div>
                                {% if doctors_last_review_list %}
                                <a href="javascript:void(0)" id="doctors_link">Врачи</a>
                                {% else %}
                                Врачи
                                {% endif %}
                                </div>
                            </li>
                            <li>
                                <div>
                                {% if patients_last_review_list %}
                                <a href="javascript:void(0)" id="patients_link">Пациенты</a>
                                {% else %}
                                Пациенты
                                {% endif %}
                                </div>
                            </li>
                        </ul>
                    </div>
                    <p><a href="/reviews">Все отзывы</a></p>
                </div><!--/side-->
                
                {% if doctors_last_review_list %}
                <div class="reviews_carousel" id="doctors_carousel">
                    <ul>
                        {% for review in doctors_last_review_list %}
                        <li>
                            <div class="review review_doc" data-review="{{ review.id }}">
                                <div class="review_info col">
                                    <div class="review_img"><img src="media/images/1.jpg" alt="" /></div>
                                    <h3 class="review_name">{{ review.initials }}</h3>
                                    <div class="review_post"><p>{{ review.reviewer_post }}</p></div>
                                </div>
                                <div class="review_blob col">
                                    <div class="review_text">
                                        <p>{{ review.review|truncatechars:200 }}</p>
                                        {% if review.review|length > 200 %}
                                        <a href="javascript:void(0)" class="review_more">весь отзыв</a>
                                        {% endif %}
                                    </div>
                                    <div class="review_blob_arr"></div>
                                </div>
                            </div>

                            {% if review|length > 200 %}
                            <div class="review review_doc review_full" data-review-full="{{ review.id }}" style="display:none;">
                                <div class="review_info col">
                                    <div class="review_img"><img src="/media/images/1.jpg" alt="" /></div>
                                    <h3 class="review_name">{{ review.initials }}</h3>
                                    <div class="review_post">
                                        <p>{{ review.reviewer_post }}</p>
                                        <p><a href="{{ review.link }}">{{ review.link }}</a></p>
                                    </div>
                                </div>
                                <div class="review_blob col">
                                    <div class="review_text">
                                        <p>{{ review.review }}</p>
                                    </div>
                                    <div class="review_blob_arr"></div>
                                    <div class="review_blob_shade"><img src="/media/img/shade2.png" alt="" /></div>
                                    <div class="blob_close"></div>
                                </div>
                            </div>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                    <div id="doc_carousel_l"></div>
                    <div id="doc_carousel_r"></div>
                </div><!--/reviews_carousel-->
                {% endif %}

                {% if patients_last_review_list %}
                {% if doctors_last_review_list %}
                <div class="reviews_carousel" style="display:none;" id="patients_carousel">
                {% else %}
                <div class="reviews_carousel" id="patients_carousel">
                {% endif %}
                    <ul>
                        {% for review in patients_last_review_list %}
                        <li>
                            <div class="review review_client" data-review="{{ review.id }}">
                                <div class="review_info col">
                                    <div class="review_img"><img src="media/images/2.jpg" alt="" /><div class="review_img_fr"></div></div>
                                    <h3 class="review_name">{{ review.initials }}</h3>
                                    <div class="review_post"><p>{{ review.reviewer_post }}</p></div>
                                </div>
                                <div class="review_blob col">
                                    <div class="review_text">
                                        <p>{{ review.review|truncatechars:200 }}</p>
                                        {% if review.review|length > 200 %}
                                        <a href="javascript:void(0)" class="review_more">весь отзыв</a>
                                        {% endif %}
                                    </div>
                                    <div class="review_blob_arr"></div>
                                </div>
                            </div>

                            {% if review|length > 200 %}
                            <div class="review review_client review_full" data-review-full="{{ review.id }}" style="display:none;">
                                <div class="review_info col">
                                    <div class="review_img"><img src="/media/images/2.jpg" alt="" /><div class="review_img_fr"></div></div>
                                    <h3 class="review_name">{{ review.initials }}</h3>
                                    <div class="review_post">
                                        <p>{{ review.reviewer_post }}</p>
                                        <p><a href="{{ review.link }}">{{ review.link }}</a></p>
                                    </div>
                                </div>
                                <div class="review_blob col">
                                    <div class="review_text">
                                        <p>Универсальный инструмент для пациента и врача, который позволяет в течении 5 минут исключить риск неправильной диагностики и лечения заболеваний, защитить от необоснованного назначения антибиотиков.</p>
                                    </div>
                                    <div class="review_blob_arr"></div>
                                    <div class="review_blob_shade"><img src="/media/img/shade2.png" alt="" /></div>
                                    <div class="blob_close"></div>
                                </div>
                            </div>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                    <div id="patient_carousel_l"></div>
                    <div id="patient_carousel_r"></div>
                </div><!--/reviews_carousel-->
                {% endif %}

            </div><!--/index_reviews-->
        </div><!--/content-->
        {% endif %}
        
    </div>
<!--/MAIN-->
{% endblock %}



