<div class="modal_blob">
<div class="modal_header">
        <h2 class="col">Оставить отзыв</h2>
        <span class="review_select_word">как</span>
        <span class="review_select curr"><a href="#">Врач</a><img src="media/img/hormenu_arr.png"/></span>
        <span class="review_select_word">или</span>
        <span class="review_select"><a href="#">Пациент</a><img src="media/img/hormenu_arr.png"/></span>
    </div><!--/modal_header-->

    <form class="review-form" method="post" action="">
        {% csrf_token %}
        {{ form.errors }}
        {{ form.reviewer_type }}
        <div class="review_form_photo col">
            <div class="review_form_photo_lnk"><a href="#" class="dot">Загрузить фото</a></div>
        </div>
        
        <div class="review_form_inputs col">
            <div class="form_line">
                <label class="required">ФИО:</label>
                <input class="inpt" type="text" name="initials" value="{{ form.initials.value|default_if_none:'' }}" />
            </div>
            
            <div class="form_line">
                <label class="required">Кем работаете:</label>
                <input class="inpt" type="text" name="reviewer_post" value="{{ form.reviewer_post.value|default_if_none:'' }}"/>
                <div class="input_note">Например, модератор форума «Молодая мама» или директор турфирмы</div>
            </div>
            
            <div class="form_line">
                <label>Ссылка на сайт:</label>
                <input class="inpt" type="text" name="review" value="{{ form.review.value|default_if_none:'' }}"/>
            </div>
            
            <div class="form_line">
                <label class="required">Ваш отзыв:</label>
                <textarea class="txtr" rows="0" cols="0"></textarea>
            </div>          
        
            <div class="btn_zs"><div class="btn_zs_in"><input type="submit" value="Отправить отзыв" /></div></div>
        </div>
    </form>
<div class="blob_modal_close close_review_form"></div>
</div>
