<script type="text/javascript" src="/media/js/jquery.js"></script>
<div id="result">{% include '_new_review_form.html' %}</div>

<script language="javascript" type="text/javascript">
    var success = parseInt({{reviewFormSuccess}});
    var reviewerType = '{{reviewer_type}}';
    var parentDocument = window.parent.document;
    if(success === 1){
        if(reviewerType == 'doctor') {
            window.parent.location = '/thanks_review_doctor'
        } else {
            window.parent.location = '/thanks_review_patient'
        }
    }else if(success === 0){
        var result = $('#result').html();
        var reviewModal = $(parentDocument).find('.review_form_modal');
        reviewModal.html(result);
    }
</script> 