{% for city in city_list %}
    {% if forloop.first %}
        <div id="drugstores_map_{{city.id}}" style="width:100%;height:100%;"></div>
    {% else %}
        <div id="drugstores_map_{{city.id}}" style="width:100%;height:100%;display:none;"></div>
    {% endif %}
{% endfor %}
<script>
var DrugstoresMap = function(){
{% for city in city_list %}
    var drugstoresMap_{{city.id}};
    var currentMap;
    function init_{{city.id}}(){     
        drugstoresMap_{{city.id}} = new ymaps.Map ("drugstores_map_{{city.id}}", {
            center: [{{city.coordinates_center}}],
            zoom: {{city.zoom}},
        });
        drugstoresMap_{{city.id}}.controls.add(
           new ymaps.control.ZoomControl()
        );
        currentMap = drugstoresMap_{{city.id}};
        {% for drugstore in city.drugstore_set.all %}
            var myPlacemark_{{drugstore.id}} = new ymaps.Placemark(
                [{{drugstore.coordinates}}],
                {
                    content: '{{drugstore.id}}',
                    balloonContent: '<p>{{drugstore.title}}</p><p>{{drugstore.address}}</p>'
                },{
                    iconImageHref: '/media/img/ic_map_apt.png', // картинка иконки
                    iconImageSize: [30, 25], // размеры картинки
                    iconImageOffset: [-6,-12] // смещение картинки
                });
            drugstoresMap_{{city.id}}.geoObjects.add(myPlacemark_{{drugstore.id}});
        {% endfor %}
    }
    {% if forloop.first %}
    ymaps.ready(init_{{city.id}});
    var currentCity = {{city.id}};
    {% endif %}
{% endfor %}
{% for city in city_list %}
    $('#drugstores_map_link_{{city.id}}').on('click', function(){
        $('#drugstores_map_'+currentCity).hide();
        currentMap.destroy();
        $('#drugstores_map_link_'+currentCity).parent('li').removeClass('curr');
        $('#drugstores_map_{{city.id}}').show();
        $('#drugstores_map_link_{{city.id}}').parent('li').addClass('curr');
        ymaps.ready(init_{{city.id}});
        currentCity = {{city.id}};
    });
{% endfor%}
};
DrugstoresMap();
</script>