{% for city in city_list %}
    {% if forloop.first %}
        <div id="patients_map_{{city.id}}" style="width:100%;height:100%;"></div>
    {% else %}
        <div id="patients_map_{{city.id}}" style="width:100%;height:100%;display:none;"></div>
    {% endif %}
{% endfor %}
<script>
{% for city in city_list %}
    var patientsMap_{{city.id}};
    var currentMap;
    function init_{{city.id}}(){     
        patientsMap_{{city.id}} = new ymaps.Map ("patients_map_{{city.id}}", {
            center: [{{city.coordinates_center}}],
            zoom: {{city.zoom}},
        });
        currentMap = patientsMap_{{city.id}};
    }
    {% if forloop.first %}
    ymaps.ready(init_{{city.id}});
    currentCity = {{city.id}};
    {% endif %}
{% endfor %}
{% for city in city_list %}
    $('#drugstores_map_link_{{city.id}}').on('click', function(){
        $('#patients_map_'+currentCity).hide();
        currentMap.destroy();
        $('#drugstores_map_link_'+currentCity).parent('li').removeClass('curr');
        $('#patients_map_{{city.id}}').show();
        $('#drugstores_map_link_{{city.id}}').parent('li').addClass('curr');
        ymaps.ready(init_{{city.id}});
        currentCity = {{city.id}};
    });
{% endfor%}
</script>