<div class="buy_step">
    <div class="buy_step_num">1.</div>
    <h2 class="buy_step_h">Тип упаковки</h2>
    
    <div class="box_carousel_zl_menu">
        {% if form.product.value %}
            {% if form.product.value == product_with_20_tests.id|slugify %}
            <a class="5_link" href="javascript:void(0)">5 тестов</a> или <a href="javascript:void(0)" class="20_link curr">20 тестов</a> в упаковке
            {% else %}
            <a href="javascript:void(0)" class="5_link curr">5 тестов</a> или <a class="20_link" href="javascript:void(0)">20 тестов</a> в упаковке
            {% endif %}
        {% else %}
            {% if chosed_product == product_with_20_tests.id|slugify %}
            <a class="5_link" href="javascript:void(0)">5 тестов</a> или <a href="javascript:void(0)" class="20_link curr">20 тестов</a> в упаковке
            {% else %}
            <a href="javascript:void(0)" class="5_link curr">5 тестов</a> или <a class="20_link" href="javascript:void(0)">20 тестов</a> в упаковке
            {% endif %}
        {% endif %}
        {% if form.product.value %}
            {% if form.product.value == product_with_20_tests.id|slugify %}
            <input type="radio" name="product" value="{{ product_with_5_tests.id }}" style="display:none;" class="5_input">
            <input type="radio" name="product" value="{{ product_with_20_tests.id }}" style="display:none;" class="20_input" checked="checked">
            {% else %}
            <input type="radio" name="product" value="{{ product_with_5_tests.id }}" style="display:none;" class="5_input" checked="checked">
            <input type="radio" name="product" value="{{ product_with_20_tests.id }}" style="display:none;" class="20_input">
            {% endif %}
        {% else %}
            {% if chosed_product == product_with_20_tests.id|slugify %}
            <input type="radio" name="product" value="{{ product_with_5_tests.id }}" style="display:none;" class="5_input">
            <input type="radio" name="product" value="{{ product_with_20_tests.id }}" style="display:none;" class="20_input" checked="checked">
            {% else %}
            <input type="radio" name="product" value="{{ product_with_5_tests.id }}" style="display:none;" class="5_input" checked="checked">
            <input type="radio" name="product" value="{{ product_with_20_tests.id }}" style="display:none;" class="20_input">
            {% endif %}
        {% endif %}
    </div>
        {% if form.product.value %}
            {% if form.product.value == product_with_20_tests.id|slugify %}
                <div class="box_carousel_zl">
                    <ul>
                        <li class="5-image-box" style="display:none;"><img class="box_carousel_zl_img" src="/media/img/box_slide_zl_5.png" alt="" /></li>
                        <li class="20-image-box"><img class="box_carousel_zl_img" src="/media/img/box_slide_zl_20.png" alt="" /></li>
                    </ul>
                    <a href="javascript:void(0)" class="carousel_l 5-link-c"></a>
                    <a href="javascript:void(0)" class="carousel_r 5-link-c"></a>
                </div><!--/box_carousel_zl-->
            {% else %}
                <div class="box_carousel_zl">
                    <ul>
                        <li class="5-image-box"><img class="box_carousel_zl_img" src="/media/img/box_slide_zl_5.png" alt="" /></li>
                        <li class="20-image-box" style="display:none;"><img class="box_carousel_zl_img" src="/media/img/box_slide_zl_20.png" alt="" /></li>
                    </ul>
                    <a href="javascript:void(0)" class="carousel_l 20-link-c"></a>
                    <a href="javascript:void(0)" class="carousel_r 20-link-c"></a>
                </div><!--/box_carousel_zl-->
            {% endif %}
        {% else %}
            {% if chosed_product == product_with_20_tests.id|slugify %}
                <div class="box_carousel_zl">
                    <ul>
                        <li class="5-image-box" style="display:none;"><img class="box_carousel_zl_img" src="/media/img/box_slide_zl_5.png" alt="" /></li>
                        <li class="20-image-box"><img class="box_carousel_zl_img" src="/media/img/box_slide_zl_20.png" alt="" /></li>
                    </ul>
                    <a href="javascript:void(0)" class="carousel_l 5-link-c"></a>
                    <a href="javascript:void(0)" class="carousel_r 5-link-c"></a>
                </div><!--/box_carousel_zl-->
            {% else %}
                <div class="box_carousel_zl">
                    <ul>
                        <li class="5-image-box"><img class="box_carousel_zl_img" src="/media/img/box_slide_zl_5.png" alt="" /></li>
                        <li class="20-image-box" style="display:none;"><img class="box_carousel_zl_img" src="/media/img/box_slide_zl_20.png" alt="" /></li>
                    </ul>
                    <a href="javascript:void(0)" class="carousel_l 20-link-c"></a>
                    <a href="javascript:void(0)" class="carousel_r 20-link-c"></a>
                </div><!--/box_carousel_zl-->
            {% endif %}
        {% endif %}
</div><!--/buy_step-->

<div class="buy_step">
    <div class="buy_step_num">2.</div>
    <h2 class="buy_step_h">Цена и количество</h2>
    <div class="buy_calc">
        <div class="buy_calc_price col">
            {% if form.product.value %}
                {% if form.product.value == product_with_20_tests.id|slugify %}
                    <strong class="5_elem" style="display:none;">{{ product_with_5_tests.price|floatformat }} руб. </strong>
                    <strong class="20_elem">{{ product_with_20_tests.price|floatformat }} руб. </strong>
                {% else %}
                    <strong class="5_elem">{{ product_with_5_tests.price|floatformat }} руб. </strong>
                    <strong class="20_elem" style="display:none;">{{ product_with_20_tests.price|floatformat }} руб. </strong>
                {% endif %}
            {% else %}
                {% if chosed_product == product_with_20_tests.id|slugify %}
                    <strong class="5_elem" style="display:none;">{{ product_with_5_tests.price|floatformat }} руб. </strong>
                    <strong class="20_elem" >{{ product_with_20_tests.price|floatformat }} руб. </strong>
                {% else %}
                    <strong class="5_elem" >{{ product_with_5_tests.price|floatformat }} руб. </strong>
                    <strong class="20_elem" style="display:none;">{{ product_with_20_tests.price|floatformat }} руб. </strong>
                {% endif %}
            {% endif %}            
            <em>цена за упаковку</em>
        </div>
        <div class="math col">X</div>
        <div class="buy_calc_qty col">
            <input class="inpt" type="text" name="product_quantity" value="{{ form.product_quantity.value|default_if_none:1 }}" />
            <span class="form-text-error">{{form.product_quantity.errors}}</span>
            <div class="buy_calc_qty_plus"></div>
            <div class="buy_calc_qty_minus"></div>
        </div>
        <div class="math col">=</div>
        <div class="buy_calc_sum col">
            {% if form.product.value %}
                {% if form.product.value == product_with_20_tests.id|slugify %}
                    <strong class="20_elem">
                        <span class="sum">{{ current_total_20|floatformat }}</span> руб.
                    </strong>
                    <strong class="5_elem" style="display:none;">
                        <span class="sum">{{ current_total_5|floatformat }}</span> руб.
                    </strong>
                {% else %}
                    <strong class="5_elem">
                        <span class="sum">{{ current_total_5|floatformat }}</span> руб.
                    </strong>
                    <strong class="20_elem" style="display:none;">
                        <span class="sum">{{ current_total_20|floatformat }}</span> руб.
                    </strong>
                {% endif %}
            {% else %}
                {% if chosed_product == product_with_20_tests.id|slugify %}
                    <strong class="20_elem">
                        <span class="sum">{{ current_total_20|floatformat }}</span> руб.
                    </strong>
                    <strong class="5_elem" style="display:none;">
                        <span class="sum">{{ current_total_5|floatformat }}</span> руб.
                    </strong>
                {% else %}
                    <strong class="5_elem">
                        <span class="sum">{{ current_total_5|floatformat }}</span> руб.
                    </strong>
                    <strong class="20_elem" style="display:none;">
                        <span class="sum">{{ current_total_20|floatformat }}</span> руб.
                    </strong>
                {% endif %}
            {% endif %}
            <em>итоговая стоимость</em>
        </div>
    </div><!--/buy_calc-->
</div><!--/buy_step-->


<div class="buy_step">
    <div class="buy_step_num">3.</div>
    <h2 class="buy_step_h">Оплата и адрес доставки</h2>
        <div class="form_line">
            <label>ФИО:</label>
            <input class="inpt" type="text" name="initials" value="{{ form.initials.value|default_if_none:"" }}" />
            <span class="form-text-error">{{form.initials.errors}}</span>
        </div>
        
        <div class="form_line">
            <label>E-mail:</label>
            <input class="inpt" type="text" name="email" value="{{ form.email.value|default_if_none:"" }}" />
            <span class="form-text-error">{{form.email.errors}}</span>
            {% if form.allow_mailings.value == False %}
                <div class="mail_checkbox">Получать информационную рассылку на этот e-mail</div>
                <input style="display:none;" class="inpt mail_inpt" type="checkbox" name="allow_mailings"/>
            {% else %}
                <div class="mail_checkbox mail_checked">Получать информационную рассылку на этот e-mail</div>
                <input style="display:none;" class="inpt mail_inpt" type="checkbox" name="allow_mailings" checked="checked"/>
            {% endif %}
        </div>
        
        <div class="form_line">
            <label>Город:</label>
            <input class="inpt" type="text" name="city" value="{{ form.city.value|default_if_none:"" }}" />
            <span class="form-text-error">{{form.city.errors}}</span>
        </div>
        
        <div class="form_line">
            <label>Адрес доставки:</label>
            <input class="inpt" type="text" name="address" value="{{ form.address.value|default_if_none:"" }}" />
            <span class="form-text-error">{{form.address.errors}}</span>
        </div>
        
        <div class="form_line">
            <label>Телефон:</label>
            <strong class="inpt_tel_label">+7</strong> <input class="inpt inpt_tel" type="text" name="phone" value="{{ form.phone.value|default_if_none:"" }}"/>
            <span class="form-text-error">{{form.phone.errors}}</span>
        </div>
        
        <div class="form_line">
            <label>Оплата:</label>
            {% if form.payment_type.value %}
                {% if form.payment_type.value == 'cash' %}
                <input class="cash_input" type="radio" name="payment_type" value="cash" style="display:none;" checked="checked">
                <input class="credit_input" type="radio" name="payment_type" value="credit_card" style="display:none;">
                {% else %}
                <input class="cash_input" type="radio" name="payment_type" value="cash" style="display:none;">
                <input class="credit_input" type="radio" name="payment_type" value="credit_card" style="display:none;" checked="checked">
                {% endif %}
            {% else %}
                <input class="cash_input" type="radio" name="payment_type" value="cash" style="display:none;" checked="checked">
                <input class="credit_input" type="radio" name="payment_type" value="credit_card" style="display:none;">
            {% endif %}
            <div class="buy_form_options col">
            {% if form.payment_type.value %}
                {% if form.payment_type.value == 'cash' %}
                <div class="buy_form_option buy_form_option_checked cash_radio">
                    <div class="buy_form_option_label">наличными</div>
                    <div class="buy_form_option_cash col">с какой суммы готовить сдачу</div>
                    <input class="inpt inpt_cash" type="text" name="cash_pay_sum" value="{{ form.cash_pay_sum.value|default_if_none:"" }}" /> <strong class="r">руб.</strong>
                    <span class="form-text-error">{{form.cash_pay_sum.errors}}</span>
                </div>
                <div class="buy_form_option credit_radio">
                    <div class="buy_form_option_label">картой</div>
                    <div>куръер захватит терминал</div>
                </div>
                {% else %}
                <div class="buy_form_option cash_radio">
                    <div class="buy_form_option_label">наличными</div>
                    <div class="buy_form_option_cash col">с какой суммы готовить сдачу</div>
                    <input class="inpt inpt_cash" type="text" name="cash_pay_sum" value="{{ form.cash_pay_sum.value|default_if_none:"" }}" disabled="disabled"/> <strong class="r">руб.</strong><span class="form-text-error">{{form.cash_pay_sum.errors}}</span>
                </div>
                <div class="buy_form_option buy_form_option_checked credit_radio">
                    <div class="buy_form_option_label">картой</div>
                    <div>куръер захватит терминал</div>
                </div>
                {% endif %}
            {% else %}
                <div class="buy_form_option buy_form_option_checked cash_radio">
                    <div class="buy_form_option_label">наличными</div>
                    <div class="buy_form_option_cash col">с какой суммы готовить сдачу</div>
                    <input class="inpt inpt_cash" type="text" name="cash_pay_sum" value="{{ form.cash_pay_sum.value|default_if_none:"" }}" /> <strong class="r">руб.</strong>
                    <span class="form-text-error">{{form.cash_pay_sum.errors}}</span>
                </div>
                <div class="buy_form_option credit_radio">
                    <div class="buy_form_option_label">картой</div>
                    <div>куръер захватит терминал</div>
                </div>
            {% endif %}
            </div>
        </div>
        
        <div class="btn_zs"><div class="btn_zs_in"><input type="submit" value="Оформить заказ" /></div></div>
</div><!--/buy_step-->