{% extends 'base.html' %}
{% load pymorphy_tags %}

{% block main %}
<!--MAIN-->
	<div class="main">
		<div class="content">
			<div class="content_l col">
				<h1>Оформление заказа</h1>
				
				<div class="text page_lead">
					<p>Заказать экспресс-тест можно прямо на сайте. В удобное для вас время товар доставят по указанному адресу. Оплатить можно наличными или карточкой при получении.</p>
				</div>
				<form action="{% url order_url %}" method="post">
					{% csrf_token %}
					{{ form.errors }}
					{% include '_order_form.html' %}
				</form>
			</div><!--/content_l-->
			
			<div class="content_r col">
				<div class="right_pl">
					<div class="right_pl_num">{{ drugstore_count }}</div>
					<p><strong>{{ 'аптека'|plural:drugstore_count }}</strong></p>
					<p>продают Стрептатест</p>
					<p><a class="dot" href="#map">смотреть на карте</a></p>
					<div class="arr_b"><img src="/media/img/arr_b.png" alt="" /></div>
				</div>
			</div><!--/content_r-->
				
			<div class="content_l col">
				<div class="h_line h_line2">
					<h2 class="col">Аптеки</h2>
					<div class="hormenu col">
						<ul>
							{% for city in city_list %}
								{% if forloop.first %}
								<li class="curr"><a id="drugstores_map_link_{{city.id}}">{{city.title}}</a><img src="/media/img/hormenu_arr.png"/></li>
								{% else %}
								<li><a id="drugstores_map_link_{{city.id}}" href="javascript:void(0)">{{city.title}}</a><img src="/media/img/hormenu_arr.png"/></li>
								{% endif %}
							{% endfor %}
						</ul>
					</div><!--/hormenu-->
				</div>
			</div><!--/content_l-->
			
			<div class="content_r col">
				<div class="up"><a href="#"><span class="dot">К оформлению заказа</span></a></div>
			</div><!--/content_r-->
		</div><!--/content-->

		<div id="map" class="map_zl">
			{% include '_drugstores_map.html' %}
		</div><!--/map_zl-->	
	</div>
    <!--/MAIN-->
{% endblock %}