{% extends 'base.html' %}
{% load pymorphy_tags %}

{% block main %}
<!--MAIN-->
	<div class="main">
		<div class="content">
			<div class="content_l col">
				<h1>Партнерам</h1>
				
				<div class="text page_lead">
					<p>Унитарное государство важно представляет собой онтологический кризис легитимности, что неминуемо повлечет эскалацию напряжения в стране. Политическое учение Руссо взаимно. Референдум, на первый взгляд, предсказуем.</p>
				</div>

				{% if partnership_offer_doctor_text %}
				<div class="text preform_text">
					{{ partnership_offer_doctor_text }}
				</div>
				{% endif %}
				<form class="partners_form" method="post" action="{% url partners_doctors_url %}">
					<div class="side">
						<div class="arrpl arrpl_2">
							<h2 class="side_h">Сотрудничество для врачей</h2>
						</div>
					</div>
					{% csrf_token %}
					<div style="display:none;">
						<input type="text" name="offer_author_type" value="{{ form_doctors.offer_author_type.value }}">
						<span class="form-text-error">{{form_doctors.offer_author_type.errors}}</span>
					</div>
					<div class="form_line">
						<label class="required">ФИО</label>
						<input class="inpt" type="text" name="title" value="{{ form_doctors.title.value|default_if_none:'' }}" />
						<span class="form-text-error">{{form_doctors.title.errors}}</span>
					</div>
					
					<div class="form_line">
						<label class="required">E-mail</label>
						<input class="inpt" type="text" name="email" value="{{ form_doctors.email.value|default_if_none:'' }}" />
						<span class="form-text-error">{{form_doctors.email.errors}}</span>
					</div>
					
					<div class="form_line">
						<label class="required">Телефон:</label>
			            <strong class="inpt_tel_label">+7</strong> <input class="inpt inpt_code" type="text" name="phone_code" value="{{ form_doctors.phone_code.value|default_if_none:"" }}" style="width:30px;"/><input class="inpt inpt_tel" type="text" name="phone" value="{{ form_doctors.phone.value|default_if_none:"" }}"/>
			            <span class="form-text-error">{{form.phone.errors}}</span>
					</div>
					
					<div class="form_line">
						<label class="required">Сообщение</label>
						<textarea class="txtr" rows="0" cols="0" name="message">{{ form_doctors.message.value|default_if_none:'' }}</textarea>
						<span class="form-text-error">{{form_doctors.message.errors}}</span>
					</div>
					<div class="form_line form_captcha">
						{{ form_doctors.captcha }}<span class="input_note">Введите текст, который вы видите на картинке слева от поля</span>
						<span class="form-text-error">{{ form_doctors.captcha.errors }}</span>
					</div>

					<div class="form_line">
						<div class="btn_blue"><div class="btn_blue_in"><input type="submit" value="Отправить сообщение" /></div></div>
					</div>
				</form><!--/partners_form-->
			</div><!--/content_l-->
			
			<div class="content_r col">
				{% include 'shared/buy_box_aside.html' %}
			</div><!--/content_r-->
				
			<div class="content_l col">
				{% if partnership_offer_drugstore_text %}
				<div class="text preform_text">
					{{ partnership_offer_drugstore_text }}
				</div>
				{% endif %}
				<form class="partners_form" method="post" action="{% url partners_drugstores_url %}">
					<div class="side">
						<div class="arrpl arrpl_2">
							<h2 class="side_h">Сотрудничество для аптек</h2>
						</div>
					</div>
					{% csrf_token %}
					<div style="display:none;">
						<input type="text" name="offer_author_type" value="{{ form_drugstores.offer_author_type.value }}">
						<span class="form-text-error">{{form_drugstores.offer_author.errors}}</span>
					</div>

					<div class="form_line">
						<label class="required">ФИО</label>
						<input class="inpt" type="text" name="title" value="{{ form_drugstores.title.value|default_if_none:''}}"/>
						<span class="form-text-error">{{form_drugstores.title.errors}}</span>
					</div>
					
					<div class="form_line">
						<label class="required">E-mail</label>
						<input class="inpt" type="text" name="email" value="{{ form_drugstores.email.value|default_if_none:'' }}"/>
						<span class="form-text-error">{{form_drugstores.email.errors}}</span>
					</div>
					
					<div class="form_line">
						<label class="required">Телефон:</label>
			            <strong class="inpt_tel_label">+7</strong> <input class="inpt inpt_code" type="text" name="phone_code" value="{{ form_drugstores.phone_code.value|default_if_none:"" }}" style="width:30px;"/><input class="inpt inpt_tel" type="text" name="phone" value="{{ form_drugstores.phone.value|default_if_none:"" }}"/>
			            <span class="form-text-error">{{form.phone.errors}}</span>
					</div>
					
					<div class="form_line">
						<label class="required">Сообщение</label>
						<textarea class="txtr" rows="0" cols="0" name="message">{{ form_drugstores.message.value|default_if_none:'' }}</textarea><span class="form-text-error">{{form_drugstores.message.errors}}</span>
					</div>
					<div class="form_line form_captcha">
						{{ form_drugstores.captcha }}<span class="input_note">Введите текст, который вы видите на картинке слева от поля</span>
						<span class="form-text-error">{{ form_drugstores.captcha.errors }}</span>
					</div>
					
					<div class="form_line">
						<div class="btn_blue"><div class="btn_blue_in"><input type="submit" value="Отправить сообщение" /></div></div>
					</div>
				</form><!--/partners_form-->
			</div><!--/content_l-->
			
			<div class="content_r col">
				<div class="right_pl">
					<div class="right_pl_num">{{ drugstore_count }}</div>
					<p><strong>{{ 'аптек'|plural:drugstore_count }}</strong></p>
					<p>продают Стрептатест</p>
					<a href="{% url order_url%}#map">Посмотреть на карте</a>
				</div>
			</div><!--/content_r-->
				
		</div><!--/content-->
		
	</div>
    <!--/MAIN-->
{% endblock %}