{% extends 'base.html' %}
{% load pymorphy_tags %}

{% block main %}
<!--MAIN-->
	<div class="main">
		<div class="content">
			<div class="content_l col">
				<h1>Пациентам</h1>
				
				<div class="text page_lead">
					<p>Унитарное государство важно представляет собой онтологический кризис легитимности, что неминуемо повлечет эскалацию напряжения в стране. Политическое учение Руссо взаимно. Референдум, на первый взгляд, предсказуем.</p>
				</div>
				
				<div class="h_line">
					<h2>Аптеки и лаборатории</h2>
				</div>
				
				<div class="patients_map">
					<div class="map_legend side">
						<div class="map_legend_item_1">Аптеки, в которых продается Стрептатест</div>
						<div class="map_legend_item_2">Лаборатории</div>
					</div>
					<div class="map"><div id="patients_map" style="width:100%;height:100%;"></div></div>
				</div><!--/patients_map-->
				
				<div class="patients_school">
					<div class="side">
						<div class="arrpl arrpl_2">
							<h2 class="side_h">Школа пациентов</h2>
							<div class="arrpl_img"><img src="/media/img/side_people.png" alt="" /></div>
						</div>
					</div>
					
					<div class="text text_page">
						<p>Описание школы пациентов, зачем она существует, зачем она нужна, кто в ней участвует, какие проходят семинары. Какой толк от участия.</p>
						<p>Надо сказать, что механизм власти неравномерен. Культ личности определяет доиндустриальный тип политической культуры, указывает в своем исследовании К.Поппер. Как писал С.Хантингтон, структура политической науки символизирует континентально-европейский тип политической культуры, что может привести к военно-политической и идеологической конфронтации с Японией. Натуралистическая парадигма вероятна.</p>
					</div>
					
					<div class="patients_school_submit">
						<div class="btn_blue"><div class="btn_blue_in"><a class="patients-school-form-link" data-url="{% url patients_school_url %}" href="javascript:void(0)">Записаться</a></div></div>
						<em>Будьте в курсе всех мероприятий</em>
					</div>
				</div><!--/patients_school-->
			</div><!--/content_l-->
			
			<div class="content_r col">
				{% include 'shared/buy_box_aside.html' %}
				
				<div class="articles_block">
					<div class="block_name">Статьи</div>
					{% for article in last_articles %}
					<div class="article_block">
						<h3><a href="{% url article_url article.id %}">{{ article.title }}</a></h3>
						<p>{{ article.text }}</p>
					</div>
					{% endfor %}
					{% if articles_more_count > 2 %}
					<div><a href="{% url article_list_url %}">Еще {{ articles_more_count }} {{ 'статья'|plural:articles_more_count }}</a></div>
					{% endif %}
				</div><!--/articles_block-->
				
				<div class="side_pl" style="margin: 0;">
					<p>Бесплатная консультация нашего специалиста</p>
					<div class="btn_blue"><div class="btn_blue_in"><a data-url="{% url patients_q_url %}" class="patients-q-form-link" href="javascript:void(0)">Задать вопрос</a></div></div>
				</div>

			</div><!--/content_r-->
				
				
		</div><!--/content-->
		
	</div>
    <!--/MAIN-->
{% endblock %}
{% block modals%}
	<div class="patients_question_form_modal"></div>
	<div class="patients_school_form_modal"></div>
{% endblock %}