<div class="box_carousel_zs_menu"><a href="javascript:void(0)" class="5-link-a curr">5</a> или <a href="javascript:void(0)" class="20-link-a">20</a> тестов</div>
<div class="box_carousel_zs">
	<ul>
		<li class="5-box-a">
			<img class="box_carousel_zs_img" src="/media/img/box_slide_zs_5.png" alt="" />
			<div class="box_carousel_zs_name">Диагностическая система</div>
			<div class="box_carousel_zs_des">5 одноразовых тестов</div>
		</li>
		<li class="20-box-a" style="display:none;">
			<img class="box_carousel_zs_img" src="/media/img/box_slide_zs_20.png" alt="" />
			<div class="box_carousel_zs_name">Диагностическая система</div>
			<div class="box_carousel_zs_des">20 одноразовых тестов</div>
		</li>
	</ul>
	<a href="javascript:void(0)" class="carousel_zs_l carousel_zs_l_disabled"></a>
	<a href="javascript:void(0)" class="carousel_zs_r"></a>
	
	<div class="btn_zs"><div class="btn_zs_in"><a href="{% url order_url %}">Купить</a></div></div>
</div><!--/box_carousel_zs-->
