<div class="box_carousel_zs_menu"><a href="javascript:void(0)" class="curr">5</a> или <a href="javascript:void(0)">20</a> тестов</div>
<div class="box_carousel_zs">
	
	<ul>
		<li>
			<img class="box_carousel_zs_img" src="/media/img/box_slide_zs.png" alt="" />
			<div class="box_carousel_zs_name">Диагностическая система</div>
			<div class="box_carousel_zs_des">5 одноразовых тестов</div>
		</li>
	</ul>
	<a href="#" class="carousel_zs_l carousel_zs_l_disabled"></a>
	<a href="#" class="carousel_zs_r"></a>
	
	<div class="btn_zs"><div class="btn_zs_in"><a href="{% url order_url %}">Купить</a></div></div>
</div><!--/box_carousel_zs-->
