<div class="clinics_modal">
<div class="modal modal_blob">
    <div class="modal_header">
        <h2>Клиники, в которых используют Стрептатест</h2>
    </div><!--/modal_header-->
    
    <div class="modal_clinics">
        {% for key, value in clinic_list.items %}
        <div class="modal_clinics_col col">
            <h3>{{ key|capfirst }}</h3>
            <ul>
                {% for clinic in value %}
                <li>
                <p>{{clinic.title}}</p>
                <p><span class="phone">{{clinic.phone}}</p>
                <p><span class="phone">{{clinic.address}}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
    <div class="blob_modal_close close_clinics"></div>
</div>
</div><!--/modal-->