<div class="clinics_modal">
<div class="modal modal_blob">
    <div class="modal_header">
        <h2>Клиники, в которых используют Стрептатест</h2>
    </div><!--/modal_header-->
    
    {{clinic_list}}
   <!--  <div class="modal_clinics">
        <div class="modal_clinics_col col">
            <h3>К</h3>
            <ul>
                <li>Клиника семейной медицины БалтМед</li>
                <li>Клиника семейной медицины</li>
                <li>Клиника семейной медицины</li>
                <li>Клиника семейной медицины</li>
                <li>Клиника семейной медицины</li>
                <li>Клиника семейной медицины</li>
                <li>Клиника семейной медицины БалтМед</li>
                <li>Клиника семейной медицины</li>
                <li>Клиника семейной медицины БалтМед</li>
            </ul>
        </div>
        <div class="modal_clinics_col col">
            <h3>О</h3>
            <ul>
                <li>Клиника семейной медицины БалтМед</li>
                <li>Клиника семейной медицины</li>
                <li>Клиника семейной медицины</li>
            </ul>
            <h3>П</h3>
            <ul>
                <li>Клиника семейной медицины</li>
                <li>Клиника семейной медицины</li>
                <li>Клиника семейной медицины БалтМед</li>
                <li>Клиника семейной медицины</li>
                <li>Клиника семейной медицины БалтМед</li>
            </ul>
        </div>
        <div class="modal_clinics_col col">
            <h3>Р</h3>
            <ul>
                <li>Клиника семейной медицины БалтМед</li>
                <li>Клиника семейной медицины</li>
                <li>Клиника семейной медицины</li>
                <li>Клиника семейной медицины</li>
                <li>Клиника семейной медицины</li>
                <li>Клиника семейной медицины БалтМед</li>
                <li>Клиника семейной медицины</li>
                <li>Клиника семейной медицины БалтМед</li>
            </ul>
        </div>
    </div> -->
    <div class="blob_modal_close close_clinics"></div>
</div>
</div><!--/modal-->