{% extends 'base.html' %}

{% block main %}
<!--MAIN-->
	<div class="main">
		<div class="content">
			<div class="content_l col">
				<h1>Возможности экспресс-теста</h1>
		
				<div class="text capabilities_short">
					{{capabilities_center_text}}
				</div>
				
				<div class="diagn_way">
					<div class="diagn_way_img"><img src="/media/img/teaser_doc.png" alt="" /></div>
					<div class="diagn_way_name col">
						<h2>Врач</h2>
						<div class="plus">Быстро</div>
						<div class="minus">Шанс ошибки</div>
					</div>
					<div class="diagn_way_blob col">
						<div class="diagn_way_des">
							<div class="diagn_way_des_img col"><img src="/media/img/ic_drugs.png" alt="" /></div>
							<div class="diagn_way_des_text col">
								{{capabilities_doctor_text_1}}
							</div>
						</div>
						<div class="diagn_way_des">
							<div class="diagn_way_des_img col"><img src="/media/img/ic_compl.png" alt="" /></div>
							<div class="diagn_way_des_text col">
								{{capabilities_doctor_text_2}}
							</div>
						</div>
						<div class="diagn_way_blob_arr"></div>
					</div>
				</div><!--/diagn_way-->
				
				<div class="diagn_way">
					<div class="diagn_way_img"><img src="/media/img/teaser_lab.png" alt="" /></div>
					<div class="diagn_way_name col">
						<h2>Лаборатория</h2>
						<div class="plus">Точно</div>
						<div class="minus">Долго</div>
					</div>
					<div class="diagn_way_blob col">
						<div class="diagn_way_des">
							<div class="diagn_way_des_img col"><img src="/media/img/ic_cure.png" alt="" /></div>
							<div class="diagn_way_des_text col">
								{{capabilities_doctor_lab_1}}
							</div>
						</div>
						<div class="diagn_way_des">
							<div class="diagn_way_des_img col"><img src="/media/img/ic_wait.png" alt="" /></div>
							<div class="diagn_way_des_text col">
								{{capabilities_doctor_lab_2}}
							</div>
						</div>
						<div class="diagn_way_blob_arr"></div>
					</div>
				</div><!--/diagn_way-->
			</div><!--/content_l-->
			
			<div class="content_r col">
				{% include 'shared/buy_box_aside.html' %}	
			</div>		
				
			<div class="diagn_way_strep">
				<div class="diagn_way_img"><img src="/media/img/teaser_strep.png" alt="" /></div>
				<div class="diagn_way_name col">
					<h2>Стрептатест</h2>
					<div class="plus">Быстро</div>
					<div class="plus">Точно</div>
					<div class="plus">Удобно</div>
					<div class="btn_zs"><div class="btn_zs_in"><a href="{% url order_url %}">Купить</a></div></div>
				</div>
				<div class="diagn_way_strep_blob col">

					{% for capability in capability_list %}
					<div class="diagn_way_strep_des col">
						<div class="diagn_way_strep_des_img col"><img src="/media/{{ capability.image }}" alt="" /></div>
						<div class="diagn_way_strep_des_text col"><p>{{ capability.body }}</p></div>
					</div>
					{% endfor %}

					<div class="diagn_way_strep_blob_arr"></div>
					<div class="diagn_way_strep_blob_shade"></div>
				</div><!--/diagn_way_strep_blob-->
			</div><!--/diagn_way-->
			
		</div><!--/content-->
		
	</div>
    <!--/MAIN-->
{% endblock %}